// ⭐️ scss 로 스타일링 할 때는, css 로 자동 빌드 되게 watch scss 키고 작업하기!

.DiaryEditor {
  width: 50%;
  padding: 70px;
  margin: 50px auto;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;

  h1 {
    font-size: 40px;
    color: #333;
  }

  .authorInput {
    width: 30%;
    padding: 8px;
    margin: 15px 0 20px;
    text-align: center;
    border: 1px solid #888;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    outline: none;

    &:focus {
      border: 2px solid #333;
    }

    &::placeholder {
      color: #bbb;
    }
  }

  .contentArea {
    width: 80%;
    height: 300px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #888;
    border-radius: 10px;
    outline: none;

    &:focus {
      border: 2px solid #333;
    }

    &::placeholder {
      color: #bbb;
    }
  }

  .emotionBox {
    margin: 10px;

    .txt {
      margin-right: 30px;
      color: #7c7c7c;
    }

    select {
      width: 70px;
      padding: 3px;
      text-align: center;
    }
  }

  .submitBtn {
    .btn {
      width: 120px;
      padding: 12px 20px 10px;
      margin-top: 40px;
      border: 1px solid #eee;
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;
      color: #333;

      cursor: pointer;

      &:hover {
        background-color: #d7d7d7;
      }
    }

    span {
      cursor: pointer;

      &:hover {
        background-color: #d7d7d7;
      }
    }
  }
}
